body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .banner {
    margin: 0; /* Assurer qu'il n'y a pas de marge dans la bannière */
  }
  
  .banner img {
    width: 100%;
    height: auto;
  }
  
  .container {
    width: 400px; /* Réduire la largeur de la popup pour éviter le défilement */
    margin: 0 auto; /* Centrer horizontalement */
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
    position: relative; /* Permettre le positionnement absolu pour le footer */
  }
  
  .how-to-use {
    margin-bottom: 15px; /* Réduire l'espacement sous la section How to Use */
  }
  
  .how-to-use h2 {
    margin: 0 0 10px;
  }
  
  .how-to-use p {
    margin-top: 10px; /* Réduire la marge avant le texte */
  }
  
  .init, .injector {
    margin-bottom: 20px; /* Réduire l'espacement entre les sections */
  }
  
  .init h3, .injector h3 {
    margin: 0 0 10px;
  }
  
  label {
    display: block;
    margin: 8px 0 4px; /* Réduire les marges pour gagner de l'espace */
  }
  
  select, input[type="number"] {
    width: calc(100% - 18px); /* Ajuster la largeur pour compenser le padding */
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  }
  
  button {
    display: block;
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 14px; /* Réduire la taille de la police */
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .injector button {
    margin-bottom: 8px; /* Réduire la marge inférieure pour rapprocher le bouton du bas du bloc */
  }
  
  #inject-status, #init-status {
    margin-top: 8px;
  }
  
  .footer {
    width: 100%; /* Faire en sorte que le footer occupe toute la largeur du conteneur */
    padding: 5px 0; /* Réduire le padding pour un footer plus compact */
    text-align: center;
    background-color: #f1f1f1; /* Couleur de fond douce pour le footer */
    border-top: 1px solid #ddd; /* Bordure supérieure pour délimiter le footer */
    border-radius: 8px 8px 8px 8px; /* Bordures arrondies en bas */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombre subtile pour un effet de profondeur */
    box-sizing: border-box; /* Inclure le padding dans la largeur totale */
  }
  
  .footer p {
    margin: 0;
    font-size: 12px; /* Réduire la taille de la police pour un footer plus compact */
    color: #333; /* Couleur du texte */
  }
  
  .footer a {
    color: #007bff; /* Couleur du lien */
    text-decoration: none;
    font-weight: bold; /* Poids de la police pour le lien */
  }
  
  .footer a:hover {
    text-decoration: underline; /* Souligner le lien au survol */
  }
  